<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>

  <h1>
    <%= dog.name %>'s details</h1>
  <p>Breed:
    <%= dog.breed %>
  </p>
  <p>Age:
    <%= dog.age %>
  </p>
  <p>Gender:
    <%= dog.gender %>
  </p>
  <p>Description:
    <%= dog.description %>
  </p>
  <img src=<%=dog.imageUrl %>>

  <a href='/dog/<%= dog.id %>/edit'>Edit</a>
  <form method="POST" action='/dog/<%= dog.id %>/delete'>
    <button type="submit">Delete Dog</button>
  </form>



  <script type="text/javascript" src=""></script>
</body>

</html>