<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
  <%  if (dog.userId === user.id) { %>
  <nav>
    <a href="/user/<%= user.id %>">back to your profile</a>
    <a href="/dogs/all">see all dogs</a>
  </nav>
  <%} else {%>
  <nav>
    <a href="/dogs/all">back to all dogs</a>
  </nav>
  <%} %>

  <h1>
    <%= dog.name %>'s details</h1>
  <p>Breed:
    <%= dog.breed %>
  </p>
  <p>Age:
    <%= dog.age %>
  </p>
  <p>Gender:
    <%= dog.gender %>
  </p>
  <p>Description:
    <%= dog.description %>
  </p>
  <img src=<%=dog.imageUrl %>
  <%  if (dog.userId === user.id) { %>
  <div class="actions">
    <a href='/dog/<%= dog.id %>/edit'>Edit</a>
    <form method="POST" action='/dog/<%= dog.id %>/delete'>
      <button type="submit">Delete Dog</button>
    </form>
  </div>
  <%} %>


  <script type="text/javascript" src=""></script>
</body>

</html>