<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>

  <h1> Here are all the doggos
  </h1>
  <% dogs.forEach(dog => { %>
  <div>
    <ul>
      <li>
        <h1>
          <%= dog.name%>
        </h1>
      </li>
      <li>
        <%= dog.breed%>
      </li>
      <li>
        <%= dog.age%>
      </li>
      <li>
        <%= dog.gender%>
      </li>
    </ul>
    <img src="<%= dog.imageUrl%>">


  </div>


  <% }) %>

  <script type="text/javascript" src=""></script>
</body>

</html>