<!DOCTYPE html>

<%- include('partials/head', { title: 'Dogs' }) %>

<body class="allDogs">
  <%- include('partials/navigation') %>
  <h1> Search for your perfect<span class="yellow"> mate.</span>
  </h1>
  <H3>Filter your search</H3>
  <form method="GET" action="/dogs" autocomplete="off">
    <label for="dog-breed"> Breed</label>
    <select name="breed" id="breeds">
      <option value='all'>All</option>
      <% breeds.forEach(b => { %>
      <option value="<%= b%>" <% if(b==breed) { %>selected
        <% } %>>
        <%= b%>
      </option>
      <% }) %>
    </select>

    <label for="dog-age">Age </label>
    <input type="number" step="any" name="age" placeholder="Age in years" value="<%= age %>">

    <label for="dog-gender">Gender </label>
    <select name="gender">
      <option value='all'>All</option>
      <option value="Female" <% if (gender==='Female' ) { %>selected
        <% } %>>Female</option>
      <option value="Male" <% if (gender==='Male' ) { %>selected
        <% } %>>Male </option>
    </select>
    <button type="submit">Filter</button>

  </form>
  <% if(!dogs.length) {%>
    <h3>Sorry, no dogs found</h3>
  <%} else { %>
    <ol>

      <% dogs.forEach(dog => { %>
        <li class="square">
          <a href='/dog/<%= dog.id %>' class="search-results">
            <img src="<%= dog.imageUrl%>">
            <h3><%= dog.name %></h3>
          </a>
          <%= dog.age%> yo <%= dog.gender%> <%= dog.breed%> in <%= dog.user.region%>

          <div class="actions">
            <% if(userSession.id && userSession.id !== dog.userId ){%>
              <% if(dog.matches.length) { %>
                <% if (dog.matches[0].status == 'pending') { %>
                  <button disabled>Pending Request</button>
                <% } else if (dog.matches[0].status == 'accepted') { %>
                  <a href="/messages/<%= dog.id %>">Go to Conversation</a>
                <% } else { /* rejected */ %>
                  Request rejected
                <% } %>
              <% } else { %>
                <form method="POST" action="/dogs/match">
                  <input name="dogId" type="hidden" value="<%= dog.id%>">
                  <input name="ownerId" type="hidden" value="<%= dog.user.id%>">
                  <button type="submit">Match</button>
                </form>
              <% } %>
            <% } %>
          </div>
        </li>
      <% }) %>
    </ol>
  <% } %>

  <%- include('partials/footer') %>
</body>

</html>