<!DOCTYPE html>

<%- include('partials/head', { title: 'Home' }) %>

<body>
  <%- include('partials/navigation') %>
  <% if(userSession && userSession.id){%>
    <h1>Welcome <%= userSession.firstname %>. See <a href="/user/<%= userSession.id %>">your profile</a></h1>
  <%} %>
    <h1>Hello this is our landing page</h1>

  <%- include('partials/footer') %>

</body>

</html>