<!DOCTYPE html>

<%- include('partials/dashboard', { title: 'User profile' }) %>


<body>
  <%- include('partials/navigation') %>

  <div class="wrapper">
    <!--Match request-->
    <%  if (matches.length) { %>
      <div class="match-request">
        <h3>Your match request</h3>
        <% matches.forEach(match => { %>
          <div class="accept">
            <h3><%= match.nameOfUserThatLiked %> liked <%= match.dog.name%> </h3>
            <form method="POST" action="/conversations/update-status">
              <input type="hidden" value="<%= userSession.id %>" name="userId">
              <input type="hidden" value="<%= match.iDofUserThatLiked %>" name="userThatRequested">
              <input type="hidden" value="<%= match.nameOfUserThatLiked %>" name="nameThatReq">
              <input type="hidden" value="<%= match.dog.id%>" name="dogId">
              <input type="hidden" value="accepted" name="status">
              <button type="submit">Accept</button>
            </form>
          </div>
          <div class="reject">
            <form method="POST" action="/conversations/update-status">
              <input type="hidden" value="<%= userSession.id %>" name="userId">
              <input type="hidden" value="<%= match.iDofUserThatLiked %>" name="userThatRequested">
              <input type="hidden" value="<%= match.nameOfUserThatLiked %>" name="nameThatReq">
              <input type="hidden" value="<%= match.dog.id%>" name="dogId">
              <input type="hidden" value="rejected" name="status">
              <button type="submit">Reject</button>
            </form>
          </div>
        <% }) %>
      </div>
    <% } else { %>
      <p>Haven't received any request yet!</p>
    <% }  %>

  </div>

  <%- include('partials/footer') %>
</body>

</html>
