<!DOCTYPE html>

<%- include('partials/dashboard', { title: 'User profile' }) %>


<body>
  <%- include('partials/navigation') %>

  <div class="wrapper">

    <%= message %>
    <h1 class="block"> Welcome <%= userSession.firstname %></h1>

    <%  if (!dogs.length) { %>
      <p>You haven't registered any dogs yet!</p>
      <a href='/dog/new' class="square">Create a dog profile</a>
    <% } else { %>
      <p>Here are your furry babies:</p>
      <% dogs.forEach(dog => { %>
        <a href="/dog/<%= dog.id %>">
          <div class="square profile"
              style="background-image: url(<%= dog.imageUrl %>); background-repeat: no-repeat; background-position:center center; background-size:cover; opacity: 0.5;"
          >
            <h3><%= dog.name %> Profile</h3>
          </div>
        </a>
      <% }) %>
    <% } %>
  </div>

  <%- include('partials/footer') %>
</body>

</html>
