<!DOCTYPE html>

<%- include('partials/dashboard', { title: 'User profile' }) %>

<body>
  <%- include('partials/navigation') %>

  <div class="wrapper">
    <%= message %>
    <h1 class="block"> Welcome
        <span class="yellow"> <%= userSession.firstname %> </span>
    </h1>

    <div class="grid">
    <%  if (!dogs.length) { %>
      <div class="square new-profile">
        <a href='/dog/new'><h3>Add new dog</h3></a>
      </div>
      <div class="square search">
          <a href='/dogs'><h3>Browse dogs
        </h3></a>
      </div>

    <% } else { %>

        <div class="square messages"><a href='/conversations'>
            <h3>Conversations</h3>
          </a>
        </div>

        <div class="square matches">
          <a href='/match/request'>
              <h3>Match request</h3>
          </a>

        </div>
        <div class="square search">
            <a href='/dogs'><h3>Browse dogs
          </h3></a>
        </div>
        <div class="square new-profile">
            <a href='/dog/new'><h3>Add dog</h3></a>
        </div>

      <% dogs.forEach(dog => { %>
          <div class="square profile"
              style="background-image: url(<%= dog.imageUrl %>); background-repeat: no-repeat; background-position:center center; background-size:cover; opacity: 0.5;"
          >
          <a href="/dog/<%= dog.id %>">
            <h3><%= dog.name %></h3>
          </a>
          </div>
      <% }) %>
    <% } %>
    </div>
  </div>

  <%- include('partials/footer') %>
</body>

</html>

