<!DOCTYPE html>

<%- include('partials/head', { title: 'User profile' }) %>

<body>
  <%- include('partials/navigation') %>

  <%= message %>
  <h1>Welcome
    <%= userSession.firstname %>, to your dashboard or whatever we want to call this?</h1>
  <!--Match request-->

  <%  if (matchRequest.length) { %>
    <p>Your messages request:</p>
    <% matchRequest.forEach(match => { %>
      <div class="accept">
        <h3><%= match.nameOfUserThatLiked %> liked <%= match.dog.name%> </h3>
        <form method="POST" action="/conversations/update-status">
          <input type="hidden" value="<%= userSession.id %>" name="userId">
          <input type="hidden" value="<%= match.iDofUserThatLiked %>" name="userThatRequested">
          <input type="hidden" value="<%= match.nameOfUserThatLiked %>" name="nameThatReq">
          <input type="hidden" value="<%= match.dog.id%>" name="dogId">
          <input type="hidden" value="accepted" name="status">
          <button type="submit">Accept</button>
        </form>
      </div>
      <div class="reject">
        <form method="POST" action="/conversations/update-status">
          <input type="hidden" value="<%= userSession.id %>" name="userId">
          <input type="hidden" value="<%= match.iDofUserThatLiked %>" name="userThatRequested">
          <input type="hidden" value="<%= match.nameOfUserThatLiked %>" name="nameThatReq">
          <input type="hidden" value="<%= match.dog.id%>" name="dogId">
          <input type="hidden" value="rejected" name="status">
          <button type="submit">Reject</button>
        </form>
      </div>
    <% }) %>
  <% } %>

  <%  if (!dogs.length) { %>
  <p>You haven't registered any dogs yet!</p>
  <a href='/dog/new'>Create a dog profile</a>
  <% } else { %>
  <p>Here are your furry babies:</p>
  <% dogs.forEach(dog => { %>
  <a href="/dog/<%= dog.id %>">
    <%= dog.name %>
  </a>
  <% }) %>



  <% } %>



  <%- include('partials/footer') %>
</body>

</html>